@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  /* font-weight: normal;
    font-style: normal; */
}

body {
  font-family: "Pretendard-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "PartialSansKR-Regular";
}
